.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#hero2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-image: linear-gradient(#12151A, #0B0C0F);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-icon {
    margin-bottom: 2em;
}

.hero-title {
    line-height: 2em;
    font-size: 2em;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1em;
    line-height: 1.5em;
}